<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/footer-scripts') %>
  </body>
</html>
